
<h1>
Hello
</h1>

<script>
var home = document.getElementById('home');
var signal_and_sampling = document.getElementById('signal_and_sampling');
var sampling = document.getElementById('sampling');


home.className = "active";
signal_and_sampling.className = "";
sampling.className = "";
</script>

<span class="color-box spectrum-white"><span class="highlight-band" style="cursor: -webkit-grabbing; position: absolute; left: 80.25px;"><span class="highlight-band-stripe"></span><span class="highlight-band-stripe"></span><span class="highlight-band-stripe"></span></span></span>